@model QenaQ2MVC.Models.MyTask

@{
    ViewData["Title"] = "Create";
}
<br/>
<br />
<br />
<h1>Add a new item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />

                <label asp-for="CategoryTaskID" class="control-label"></label>
                <input asp-for="CategoryTaskID" class="form-control" />

                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />

                <label asp-for="Owner"  class="control-label"></label>
                <input asp-for="Owner" class="form-control" />

                <label asp-for="AssignDate" class="control-label"></label>
                <input asp-for="AssignDate" class="form-control" />

                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



